extends ../layout
block content
	h2 Página de Usuários.
	br
	if msgUpdate
		div(class="alert alert-info")
			strong Registro atualizado com sucesso
	table(class="table table-bordered table-responsive")
		thead
			tr
				th ID:
				th Nome:
				th Login:
				th Senha:
				th Data:
				th Ações:
		tbody
			each valor, i in lista
				tr
					td #{valor._id}
					td #{valor.nome}
					td #{valor.login}
					td #{valor.senha}
					td #{valor.data_cad}
					td
						a(href="/usuarios/edit/#{valor._id}", class="btn btn-primary btn-lg active") Editar
						&nbsp
						a(href="/usuarios/show/#{valor._id}", title="Visualizar", class="btn btn-primary") Visualizar
	div(class="pull-right")
		a(href="/" title="Home", class="btn btn-info") Voltar		&nbsp
		a(href="/usuarios/create" title="Cadastrar", class="btn inline btn-success") Cadastrar		
