doctype
html(lang="pt-BR")
  head
    title=title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/javascript/maps.js")
    script(type="text/javascript" src="/javascript/PDF.js")
    //- script(src="leaflet-plugins/layer/vector/KML.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js")
    //script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO3QhgYtJv0Yv2_2MZOaC_kqPAQ6KX7v8")
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css")
    link(rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css")
    script(src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js")
    script(src="http://code.jquery.com/jquery-1.5.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.0/jspdf.plugin.autotable.js")
    script(src="https://openlayers.org/en/v3.19.1/build/ol.js" type="text/javascript")
    
    
  body
     div(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container")
         div(class="navbar-header")
            a(href="/" class="navbar-brand") APP
         div(class="navbar-collapse collapse" id="navbar-main")
            ul(class="nav navbar-nav")
               li(class="dropdown")
                  a(href="/usuarios") Usuários 
            ul(class="nav navbar-nav")
               li(class="dropdown")
                  a(href="/eventos") Eventos
   div(class="container")           
      block content
      footer
         div(class="navbar navbar-inverse navbar-fixed-bottom")
          div(class="container")
            div(class="navbar-header")
              p(class="rodape")
                strong Eventos
