extends ../layout

block content
	h1 Cadastro de Usuários
	br
	form(method="POST", action="/usuarios", role="form")
		div(class="from-group")
			label Nome:
			input(type="text", name="nome", class="form-control", required)
			br
		div(class="from-group")
			label Login:
			input(type="text", name="login", class="form-control", required)
			br
		div(class="from-group")
			label Senha:
			input(type="password", name="senha", class="form-control", required)
			br
		div(class="form-group")
			input(type="submit", value="Cadastrar",class="btn btn-success")
			br
			br
			a(href="/usuarios" title="Voltar",class="btn btn-info") Voltar
