extends ../layout

block content
  h2 Editar usuários
  br
  form(method="POST", action="/usuarios/edit/#{value._id}", role="form")
    div(class="from-group")
      label Nome:
      input(type="text", name="nome", class="form-control", value="#{value.nome}", required)
      br
    div(class="from-group")
      label Login:
      input(type="text", name="login", class="form-control", value="#{value.login}", required)
      br     
    div(class="form-group")
      input(type="submit", value="Atualizar",class="btn btn-success")
      br
      br
      a(href="/usuarios" title="Voltar",class="btn btn-info") Voltar
